body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: bisque;
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.formContainer {
  background-color: #fff;
  padding: 30px 40px;
  border-radius: 12px; 
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.15); 
  width: 100%; 
  max-width: 450px; 
  height: 550px; 
  max-height: 600px; 
}

.formContainer h1 {
  text-align: center;
  color: black;
  margin-bottom: 10px;   
}

.formContainer label {
  /* display: block; */
  margin-bottom: 6px; 
  font-weight: 600; 
  font-size: 14px;
  color: #333; 
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="date"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

input[type="checkbox"] {
  transform: scale(1.2);
  margin-bottom: 10px;
}

button {
  margin-top: 10px;
  background-color: #1f3ff3; 
  color: white;
  border: none;
  padding: 12px; 
  border-radius: 8px;
  width: 100%; 
  font-size: 16px; 
  cursor: pointer; 
}

.infoNome {
  margin-top: 90px;
  font-size: 20px;
  text-decoration: underline;
}

.msgObrigatoria {
  color: red;
  font-size: 12px;
  margin-top: -15px;
  margin-bottom: 10px;
  /* display: block; */
  display: none;
}